page-login {

    .fixline {
        height: 60px;
        margin-bottom: 7px;
    }
    
    .img_type {
        position: absolute;
        margin-left: 23px;
    }

    .button_lay {
        margin-top: 100px;
    }

    ion-card-header {
        text-align: center;
    }

    ion-col {
        padding: 5px;
    }

    ion-row {
        padding: 5px;
    }

    h1 {
        text-align: center;
    }
}
