page-pokemon-type {

    h2 {
        text-align: center;
        font-style: italic;
        font-family: 'Courier New', Courier, monospace;
    }
    
    ion-img {
        visibility: visible;
    }
}
